<div class="row">
    <div class="md-3">
      <h1><strong>どこかのキッチンカー</strong></h1>
    <div class="md-3">
      <%= link_to "一般会員新規登録", new_customer_registration_path %>
    </div>
    <div class="md-3">
      <%= link_to "一般会員ログイン", new_customer_session_path %>
    </div>
    <div class="md-3">
      <%= link_to "店舗会員新規登録", new_shop_registration_path %>
    </div>
    <div class="md-3">
      <%= link_to "店舗会員ログイン", new_shop_session_path %>
    </div>
  </div>
</div>
