<div class="row">
  <div class="col-8 mx-auto">
    <h1><strong>どこかのキッチンカー</strong></h1>
    <div class="row">
      <div class="col-4">
        <h3>一般会員</h3>
        <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-sm btn-warning" %>
        <%= link_to "ログイン", new_customer_session_path, class: "btn btn-sm btn-warning" %>
      </div>
      <div class="col-4">
        <h3>店舗会員</h3>
        <%= link_to "新規登録", new_shop_registration_path, class: "btn btn-sm btn-primary" %>
        <%= link_to "ログイン", new_shop_session_path, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>
